.book-filter-form {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.book-filter-btn {
    margin: 10px 20px;
    border: none;
    background-color: inherit;
    color: #606e83;
}

.book-filter-btn::after {
    font-family: Icons;
    content: '\f0b0';
}

.filter-form h4 {
    width: 100%;
}

.filter-form input {
    margin-right: 10px;
    height: 2rem;
}

.filter-form input:not(:first-of-type) {
    width: 50px;
}
.filter-form input:first-of-type {
    flex-grow: 1;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
    padding: 0 20px;
}
.book-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 100px;
    border: 1px solid #333;
    padding: 5px 10px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.book-preview label {
    cursor: pointer;
}
.book-preview label:last-of-type {
    flex-grow: 1;
    margin-bottom: 10px;
}
