.book-filter-form {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    
}

.book-filter-btn {
    margin: 10px 20px;
    border: none;
    background-color: inherit;
    color: #606e83;
}

.book-filter-action {
    background: #606e83;
    opacity: .6;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 3px #333;
    margin-left: 5px;
    margin-right: 20px;
}

.book-filter-btn::after {
    font-family: Icons;
    content: '\f0b0';
}

.filter-form h4 {
    width: 100%;
}

.book-filter-form input {
    margin: auto;
    margin-bottom: 5px;
    width: 300px;
    color: #606e83;
    border: 1px solid rgb(202, 213, 219);
    border-radius: 20px;
    background: rgba(241,243,244,0.44);
    transition: all 100ms ease-in,width 100ms ease-out;
    transition-duration: 100ms, 100ms;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0s, 0s;
}

.filter-form input:not(:first-of-type) {
    width: 50px;
}
.filter-form input:first-of-type {
    flex-grow: 1;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
    padding: 0 20px;
}
.book-preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 100px;
    border: 1px solid #333;
    padding: 5px 10px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.book-preview label {
    cursor: pointer;
}
.book-preview label:last-of-type {
    flex-grow: 1;
    margin-bottom: 10px;
}
