.email-list {
    width: 100%;
    box-shadow:  0 -1px 0 0 rgb(100 121 143 / 12%);
    background-color: rgba(242,245,245,0.8);
    color: #202124;
}

.email-list table {
    width: 100%;
    cursor: pointer;
}

.email-list table tr {
    width: 100%;
    background-color: rgba(242,245,245,0.8);
    color: #202124  ;
}

.email-row {
    align-items: center;
    padding: 5px 0;
    font-size: .875rem;
    line-height: 1.25rem;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    background: rgba(242,245,245,0.8);
}

.email-list table{
    border-collapse: collapse;
    table-layout: fixed;
}

.email-list table tr.header-row{
    border-bottom: 1px solid #333;
}

.email-list table tr.header-row:hover{
    background-color: transparent;
}

.email-list table tr:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}

.email-list table th{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 200;
}

.email-list td{
    overflow: hidden;
}
.email-list th:nth-of-type(1){
    width: 25px;
}
.email-list th:nth-of-type(2){
    width: 25px;
}
.email-list th:nth-of-type(3){
    width: 25px;
}
.email-list thead th:nth-of-type(4){
    width: 20%;
}
.email-list thead th:nth-of-type(5){
    width: 80%;
    padding-left: 20px;
}

.email-list td:nth-of-type(5n){
    padding-left: 20px;
}
    .email-list th:nth-of-type(6){
    width: 25px;
}

.email-list [colspan='6'] button::before{
    margin-right: 5px;
}
.email-list [colspan='6'] button{
    margin-right: 5px;
    height: 1.5rem;
}

.remove-email-btn {
    border: none;
    background-color: #fff;
    font-size: 1.2rem;
    background: none;
    /* display: none; */
}

.email-list table .isRead::before{
    font-family: Icons;
    content: '\f0e0';
}
.email-list table .isRead.read::before{
    font-family: Icons;
    content: '\f658';
}

.email-list table .isStarred::before{
    font-family: FA-Regular;
    content: '\f005';
}

.email-list table .isStarred.starred::before{
    font-family: Icons;
    content: '\f005';
}

.email-list table .remove-email-btn::before{
    font-family: Icons;
    content: '\f1f8';
}

.email-list .InListEmailPreview{
    white-space: pre-wrap;
}
