.app {
    padding: unset;
}

.email-header {
    background-color: rgb(255, 186, 0, 1);
    display: flex;
    align-items: center;
    height: 55px;
}

.email-header :last-of-type {
    justify-content: center;
}

.email-header svg {
    height: 20px;
    width: 30px;
    margin-left: 20px;
}

.email-header a {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.email-header .logo {
    width: 40px;
    margin-right: 10px;
}

.search-input {
    margin: auto;
    width: 300px;
    /* border: none; */
    color: #606e83;
    border: 1px solid transparent;
    border-radius: 8px;
    background: rgba(241,243,244,0.24);
    transition: all 100ms ease-in,width 100ms ease-out;
    transition-duration: 100ms, 100ms;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0s, 0s;
}