.email-preview {
    display: flex;
    justify-content: space-between;
    box-shadow:  0 -1px 0 0 rgb(100 121 143 / 12%);
    background-color: rgba(242,245,245,0.8);
    color: #202124;
}

.email-list table {
    width: 100%;
    cursor: pointer;
}

.email-list table tr {
    width: 100%;
}

.email-row {
    align-items: center;
    padding: 5px 0;
    font-size: .875rem;
    line-height: 1.25rem;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    background: rgba(242,245,245,0.8);
}

.email-list thead tr td:nth-of-type(1){
    width: 5px;
}
.email-list thead tr td:nth-of-type(2){
    width: 10px;
}
.email-list thead tr td:nth-of-type(3){
    width: 100%;
}
.email-list thead tr td:nth-of-type(4){
    width: 10px;
}

.remove-email-btn {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    background: none;
    /* display: none; */
}

