.toolbar{
    display: flex;
}

.app>.toolbar div:nth-of-type(1){
    flex-grow: 1;
}

.toolbar button:hover{
    text-shadow: 0 0 3px #333;
}
.toolbar button{
    background: #fcc83b;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 3px #333;
}

#back-btn::before{
    font-family: Icons;
    content: '\f0a8';
}

#send-btn::before{
    font-family: Icons;
    content: '\f1d8';
}

#open-btn::before{
    font-family: Icons;
    content: '\f518';
}

#reply-btn::before{
    font-family: Icons;
    content: '\f3e5';
}

#forward-btn::before{
    font-family: Icons;
    content: '\f064';
}

#delete-btn::before{
    font-family: Icons;
    content: '\f2ed';
}

#mark-btn::before{
    font-family: Icons;
    content: '\f0e0';
}

#cancel-btn::before{
    font-family: Icons;
    content: '\f057';
}

#undelete-btn::before{
    font-family: Icons;
    content: '\f82a';
}

#save-btn::before{
    font-family: Icons;
    content: '\f0c7';
}
