*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}
a,button {
    cursor: pointer;
}

button{
    height: 2rem;
}

input,textarea{
    padding: 0.5rem 5px;
}

.app {
    padding: 20px 50px;
}

