@font-face {
    font-family: Brands;
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: Icons;
    src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src:url(../fonts/Roboto-Medium.ttf)
}