
.add-note{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    bottom: 0;
    background-color: #ffffff;
    font-size: 0.875rem;
    color: #222;
    height: 418px;
    width: 418px;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    z-index: 3;
    padding: 0 15px;
}

.add-note .main-title-div {
    display: flex;
    height: 45px;
    width: 100%;
    background-color: #404040;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.add-note .main-title {
    font-family: Roboto-Medium;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    left: 0;
    line-height: 20px;
    height: auto;
    font-size: 0.875rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    border-collapse: collapse;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.add-email-close-btn::before {
    font-family: Icons;
    content: '\f00d';
}

.add-note .close-btn {
    border: 0;
    cursor: pointer;
    top: 8px;
    background: transparent;
    color: #b6b6b6;
    font-size: .875rem;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
}


.add-note-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rebeccapurple;;
    font-size: 2rem;
    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 186, 0, 1);
    box-shadow: 1px 2px 5px #333;
    
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s;
}

.add-note-btn:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s;
}

.add-note button:hover{
    text-shadow: 0 0 2px #333;
}

.add-note .type-btns{
    grid-area: btn;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #606e83;
    font-size: 2rem;
    margin-top: 20px;
}

.note-title {
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: none;
}

.note-text-area {
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: none;
    flex-grow: 1;
    resize: none;
}

.add-note label{
    font-size: 0.7rem;
    margin-top: 20px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: none;
}

/* .add-note textarea{
    height: 100px;
} */

.add-note .note-todos{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    max-height: 40vh;
}
.add-note .note-todos .add-todo-list{
    max-height: 45vh;
    overflow: auto;
}

.add-note .note-todos .add-todo-list ul{
    list-style-type: none;
    padding-inline-start: 15px;
}

.add-note .note-todos .add-todo-list ul li {
    display: flex;
    align-items: center;
}

.add-note .note-todos .add-todo-list ul li input[type='checkbox']{
    height: 1.5rem;
    width: 1.5rem;
}
.add-note .note-todos .add-todo-list ul li input[type='text']{
    flex-grow: 1;
}

.add-note .todos-inline{
    grid-area: txt;
    display: flex;
    flex-direction: column;
}
.add-note .todos-inline input{
    /* margin-bottom: 20px; */
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: none;
}

.add-note #img{
    grid-area: txt;
    height: 1rem;
    margin-top: 20px;
}

.add-note .type-btns {
    margin-bottom: 20px;
}

.add-note .type-btns div{
    cursor: pointer;
}

.add-note #note-txt:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-txt::before{
    font-family: Icons;
    content: '\f15c';
}
.add-note #note-img:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-img::before{
    font-family: Icons;
    content: '\f03e';
}
.add-note #note-todos:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-todos::before{
    font-family: Icons;
    content: '\f022';
}
.add-note #note-video:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-video::before{
    font-family: Icons;
    content: '\f1c8';
}
.add-note #note-audio:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-audio::before{
    font-family: Icons;
    content: '\f1c7';
}
.add-note #note-todos-inline:hover{
    text-shadow: -1px 1px 5px #333;
}
.add-note #note-todos-inline::before{
    font-family: Icons;
    content: '\f142';
}

.add-note .save-btn {
    background-color: #1a73e8;
    color: #fff;
    max-width: 104px;
    min-width: 72px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    padding: 0 20px;
    
}
