.filter-form{
    padding: 0 25px;
    margin-bottom: 0;
    background-color: rgb(255, 186, 0, 1);
    height: 47px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sides-filter-background{
    background-color: rebeccapurple;
    height: 60px;
}

.filter-form .filter-type-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #01b5f0;
    font-size: 2rem;
    width: 20%;
    margin-left: 10px;
}

.filter-form .filter-type-btns input:checked {
    color: #0286b3;
}
.filter-form .filter-type-btns input {
    cursor: pointer;
    margin: 0 0 0 5px;
    appearance: none;
    width: auto;
    padding: 0;
    font-size: 1.5rem;
}

.filter-form #note-txt:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #note-txt::before {
    font-family: Icons;
    content: '\f15c';
    color: rebeccapurple;
}
.filter-form #note-img:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #note-img::before {
    font-family: Icons;
    content: '\f03e';
    color: rebeccapurple;
}
.filter-form #note-todos:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #note-todos::before {
    font-family: Icons;
    content: '\f022';
    color: rebeccapurple;
}
.filter-form #note-video:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #note-video::before {
    font-family: Icons;
    content: '\f1c8';
    color: rebeccapurple;
}
.filter-form #note-audio:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #note-audio::before {
    font-family: Icons;
    content: '\f1c7';
    color: rebeccapurple;
}
.filter-form #clear:hover {
    text-shadow: -1px 1px 5px #333;
}
.filter-form #clear::before {
    font-family: Icons;
    content: '\f51a';
    color: rebeccapurple;
}

.filter-form #filter-text {
    width: 300px;
    padding: 0.5rem 5px;
    flex-grow: unset;
    color: #606e83;
    border: 1px solid transparent;
    border-radius: 8px;
    background: rgba(241,243,244,0.24);
    transition: all 100ms ease-in,width 100ms ease-out;
    transition-duration: 100ms, 100ms;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0s, 0s;
}